{% extends "base_mining.html" %}

{% block content %}
<html lang="en">
<head>
    <title>Bitcoin Mining Simulation</title>
    <meta charset="UTF-8">
    <title>Bitcoin Block Mining</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <header>
            <h1>Bitcoin Mining</h1>
        </header>
        <section>
<p>Welcome to the Bitcoin Mining Simulation. This interactive platform demonstrates the Bitcoin mining process. You'll learn about:</p>
<ul>
    <li>Setting the difficulty level for mining a block.</li>
    <li>Initiating and adding transactions to the block.</li>
    <li>Finding the nonce that creates a valid block hash.</li>
    <li>Earning Bitcoin rewards and adding blocks to the blockchain.</li>
</ul>
<p>Start your journey through the blockchain and understand the significance of mining in maintaining the ledger's integrity.</p>

         <div class="button-group" style="display: flex; justify-content: center;">
    <button class="btn" onclick="window.location.href='/mining/game'">Start Simulation</button>
</div>

        </section>
    </div>

</body>
</html>
{% endblock %}
