{% extends 'base2.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
<script>
    const pagePath = window.location.pathname;

    if (sessionStorage.getItem(pagePath)) {
        window.location.href = "{{ url_for('game2.home2') }}";
    }
    sessionStorage.setItem(pagePath, 'visited');
</script>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equilibrium Explorer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}">
</head>
<div class="container">
    <h1>Round 2</h1>
    <h2>Equilibrium Quantity from Round 1:</h2>
    <br>
    <h2><strong>{{ previous_q }}</strong></h2>
    <br>
    <h3>Round 2 Shock: {{ shock }} (<strong>{{ size }}</strong>)</h3>
    <br>
    <div class="button-container">
    <h3><form action="{{ url_for('game2.feedback2') }}" method="post">
        <label for="equilibrium_quantity">Enter your guess for the new equilibrium quantity:</label>
        <input type="number" step="0.01" id="equilibrium_quantity" name="equilibrium_quantity" required></h3>
            <button type="submit" class="blue-button" onclick="return validateForm()">Submit</button>
        </form>
    </div>
</div>

{% endblock %}
