{% extends 'base2.html' %}

{% block title %}Simulation - Feedback{% endblock %}

{% block content %}
<script>
    // Modifying the pagePath to include the round number
    const pagePath = window.location.pathname + "_round" + {{ round_number }};

    if (sessionStorage.getItem(pagePath)) {
        window.location.href = "{{ url_for('game2.home2') }}";
    }
    sessionStorage.setItem(pagePath, 'visited');
</script>

<div class="container">
    <h1>Feedback - Round {{ round_number }}</h1>
    <br>
    <h2>Your Guess: {{ guess }}</h2>
    <h2>True Equilibrium Quantity: {{ true_equilibrium_quantity }}</h2>
    <h2>Difference: {{ difference }}</h2>
    <br>
    <div class="button-container">
        <h2><form action="{{ url_for('game2.game2_results') if round_number == 3 else url_for('game2.game2_proceed' + round_number|string) }}" method="post"></h2>
            <input type="submit" class="blue-button" value="Proceed">
        </form>
    </div>
</div>
{% endblock %}
