{% extends "base2.html" %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equilibrium Explorer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}">
</head>
<body>
    <div class="container">
        <h1>Equilibrium Explorer</h1>
        <h2>This interactive game simulates the behavior of supply and demand in a market economy. Here's how it works:</h2>
        <ul>
            <li><strong>Round 1:</strong> You will be given a supply and demand equation, and you should solve for the equilibrium quantity.</li>
            <li><strong>Round 2:</strong> A random shock will be applied to the supply or demand curve, and you must guess the new equilibrium quantity.</li>
            <li><strong>Round 3:</strong> Two random shocks will be applied, one to the demand curve and one to the supply curve. Your goal is to guess the resulting equilibrium quantity.</li>
        </ul>
        <p>Your goal is to make your guesses as accurate as possible. Penalties will be assessed based on the difference between your guess and the true equilibrium quantity. "Price is Right" Rules...try not to produce too much!</p>
        <div class="center-button">
    <p><a href={{ url_for('game2.play_game2_round1') }} class="blue-button" onclick="resetGame()">Start Game</a></p>
</div>

<script>
    function resetGame() {
        // Clear any existing sessionStorage data related to game restarts
        sessionStorage.clear();
    }
</script>



</body>

</html>
{% endblock %}
