body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: url('landing.png') center/cover no-repeat fixed;
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
}

.header-container, .class-info, .login-container, .login1-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: 'Georgia', serif;
}

.header-container {
    top: 15vh;
}

.title {
    padding-top: 10vh;
    font-size: 90px;
    max-width: 90%;
    font-weight: bold;
    color: #ffb81c;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    white-space: nowrap;
    -webkit-text-stroke: 2px black;
    margin-bottom: 0;
}

.class-info {
    top: calc(15vh + 100px);
    font-size: 36px;
    color: #ffb81c;
    margin-top: 0;
}

.simulations {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.simulation {
  position: relative;
  top: 15vh;
  font-size: 36px;
  font-weight: bold;
  color: #009cde;
  transition: font-size 0.3s ease;
  white-space: nowrap;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  margin: 20px auto;
  cursor: pointer;
}

.simulation:hover, .login-link:hover, .logout-link:hover {
  font-size: 60px;
}

.login-container, .login1-container {
  text-align: center;
}

.login-container {
  bottom: calc(35vh + 20px);
}

.login-container h2, .login1-container h2 {
  font-size: 30px;
  color: #ffb81c;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.login-container label, .login-container a, .login1-container label, .login1-container a, .or {
  font-size: 30px;
  font-weight: bold;
  color: #009cde;
  margin: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.keep-username, .keep-username a {
    font-size: 30px;
    font-weight: bold;
    color: #ffb81c;
    margin: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    text-decoration: none;
}

.login-container input, .login1-container input {
  font-size: 20px;
  font-weight: bold;
  color: #0f0f0f;
  margin: 10px;
}

.login-button, .login-container input[type="submit"] {
  background-color: #009cde;
  color: white;
  border: none;
  font-size: 15px;
  padding: 7px 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login1-container input[type="submit"]:hover {
  background-color: #007aa3;
}

.login-container .error-message, .login1-container .error-message {
  color: red;
  font-size: 18px;
}

.login-link, .logout-link {
  font-size: 36px;
  font-weight: bold;
  color: #009cde;
  text-align: center;
  margin: 30px auto;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.login-link a, .logout-link a {
  text-decoration: none;
  color: inherit;
}

.login1-container {
  bottom: calc(25vh + 20px);
}

@media only screen and (max-width: 768px) {
  .header-container {
    top: 2vh;
  }

  .simulations {
    top: 35%;
  }

  .simulation {
    font-size: 24px;
    margin: 10px auto;
  }

  .title {
    font-size: 40px;
    padding-top: 7vh;
    white-space: normal;
    width: 90%;
    -webkit-text-stroke: 0;
    text-align: center;
  }

  .login-container h2 {
    font-size: 20px;
    padding-top: 15px;
  }

  .login-container label, .login-container a, .login1-container label, .login1-container a, .or, .keep-username, .keep-username a {
    font-size: 15px;
  }

  .login-container input {
    font-size: 14px;
  }

  .login-link, .logout-link {
    font-size: 24px;
    margin: 20px auto;
    bottom: 20%;
  }

  .class-info {
    top: calc(15vh + 60px);
    font-size: 24px;
  }
}
