/* === BASE STYLES === */
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
    color: #333;
    background-image: url('macro3_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    margin: 15px 0;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.header-container {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 250;
    background: url("macro3_header.jpg") no-repeat center center;
    background-size: cover;
}

.header-title {
    text-align: center;
    margin: 10px;
    font-size: 90px;
    font-weight: bold;
    color: #ffb81c;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    transition: font-size 0.3s ease;
    white-space: nowrap;
    font-family: 'Georgia', serif;
    -webkit-text-stroke: 2px black;
    text-stroke: 2px black;
}


.header-container h1 {
    font-family: 'Futura', sans-serif;
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header-container h2 {
    font-family: 'Futura', sans-serif;
    font-size: 2rem;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #000000;
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    color: #1a237e;
    font-size: 28px;
    text-align: center;
}

h3 {
    color: #1a237e;
    font-size: 20px;
    text-align: center;
}



/* === NAVBAR STYLES === */
nav {
    background-color: #f8f9fa;
    border-bottom: 2px solid #007BFF;
    padding: 10px 0;
}

.navbar-brand {
    color: #007BFF;
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
}

.nav-link:hover {
    color: #003da5;
}

/* === Button STYLES === */
.blue-button {
    background-color: #003da5;
    color: white;
    border: none;
    padding: 10px 14px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 150px;
}

.center-button {
    color: #003da5;
    text-align: center;
}

/* Mobile Styles */
@media (max-width: 767px) {

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }
    .header-title{
        text-align: center;
        margin: 5px; /* Reduced margin */
        font-size: 36px;
        font-weight: bold;
        color: #ffb81c;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
        transition: font-size 0.3s ease;
        white-space: nowrap;
        font-family: 'Georgia', serif;
        -webkit-text-stroke: 1px black;
        text-stroke: 1px black;
    }


    .header-container {
        height: 120px; /* Reduced height */
    }

    .title {
        text-align: center;
        font-size: 36px;
        padding: 5px; /* Reduced padding */
    }

    .navbar-brand {
        font-size: 18px;
    }

    .navbar-text {
        font-size: 10px;
    }

    /* Full-width form controls */
    #tradeForm select, #tradeForm input {
        width: 100%;
        margin-bottom: 10px;
    }

    /* Center-align buttons */
    #tradeForm button, #distributeCash {
        display: block;
        width: 100%;
        margin: 5px auto;
    }

    /* Make the table font smaller for mobile */
    #portfolioTable, #assetPricesTable {
        font-size: 0.8em;
    }
}
}
