{% extends "base3.html" %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game 3 Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles3.css') }}">
</head>
<body>
    <div class="leaderboard-container">
        <h2>Equilibrium Explorer in Class {{ class_number }}</h2>
        <table class="leaderboard-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Total Penalty</th> <!-- Updated the header to reflect penalties -->
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ student['username'] }}</td>
                    <td>{{ student['penalty']|round(2) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </table>
    <div class="button-container" style="text-align: center; margin-top: 20px;">
    <form action="{{ url_for('game3.start_over3') }}" method="get">
        <button type="submit" class="blue-button">Start Over</button>
    </form>
</div>
    </div>
</body>
</html>

{% endblock %}