{% extends "base1.html" %}

{% block content %}
}<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Rational Hunter: A Game of Choices</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles1.css') }}">
</head>
<body>
    <div class="container">
        <h1>The Rational Hunter: A Game of Choices</h1>
        <h2>Embark on a journey of survival in a game of choices.</h2>
            <h2>You will start at age 18. In each round, you have to choose how many hours to spend hunting and how many hours to spend resting.</h2>
            <h2>Can you make the right decisions and survive to the leaderboard?</h2>
        <div class="button-container">
            <p><a href="{{ url_for('game1.play_game') }}" class="blue-button">Start Game</a></p>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="{{ url_for('static', filename='script1.js') }}"></script>
</body>
</html>

{% endblock %}