{% extends "base1.html" %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles1.css') }}">
</head>
<body>
    <div class="leaderboard-container">
        <h2>Rational Hunter Leaderboard for Class {{ class_number }}</h2>
        <table class="leaderboard-table">
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>High Score</th>
            </tr>
            {% for i in range(scores.shape[0]) %}
<tr>
  <td>{{ i + 1 }}</td>
  <td>{{ scores.loc[i, 'username'] }}</td>
  <td>{{ scores.loc[i, 'high_score'] }}</td>
</tr>
{% endfor %}
        </table>
        <br>
        <div class="button-container">
    <button id="restart-button" class="blue-button" onclick="window.location.href='{{ url_for('game1.home1') }}'">Start Over</button>
            </div>
    </div>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="{{ url_for('static', filename='script1.js') }}"></script>
</body>
</html>

{% endblock %}
```