{% extends "base4.html" %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game 4: Firm Reactor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles4.css') }}">
</head>
<body>
    <div class="container">
        <h1>Firm Reactor!</h1>
        <h2>Test your skills in predicting market and firm-level behaviors!</h2>
        <ul>
            <li><strong>Round 0:</strong> You’re given a market demand, firm-level cost functions and the current market price. Calculate the profit-maximizing quantity and decide if the firm should enter the market.</li>
            <li><strong>Guessing Rounds:</strong> Predict the price adjustments as the market undergoes changes in the number of firms and demand shocks.</li>
        </ul>
        <p>Set prices for the next round based on market adjustments. Penalties will be assessed based on the difference between your guess and the true market price. Earn tokens for close guesses and try to stay in the game for as many rounds as possible!</p>
        <div class="center-button">
            <p><a href={{ url_for('game4.play_game4') }} class="blue-button" onclick="resetGame()">Start Game</a></p>
        </div>
    </div>

    <script>
        function resetGame() {
            // Clear any existing sessionStorage data related to game restarts
            sessionStorage.clear();
        }
    </script>
</body>
</html>
{% endblock %}
