<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<header>
<h2>
<a class="description-title">Game Descriptions</a>
    </h2>
    </header>
<div class = "container">
        <main>
        <!-- Game 1 -->
        <section>
            <h3>Micro Game 1: The Rational Hunter</h3>
            <h3>Objective</h3>
            <p>In this simulation, players experience the delicate balance between resource management and survival. Starting at age 18, players must navigate the fine line between health and food acquisition, where each decision has both rewards and consequences.</p>
            <h3>Concepts Experienced:</h3>
            <ul>
                <li>Resource Allocation and opportunity cost: Players must allocate their time wisely between hunting and resting, representing a fundamental economic principle of opportunity cost. Each decision reflects the trade-offs in time, health, and food.</li>
                <li>Decision Making Under Uncertainty: The game introduces players to the uncertainty in managing scarce resources. They must make decisions without full knowledge of how those decisions might impact their future state.</li>
                <li>Data Interpretation: With charts and logs tracking health, food, and activity over time, players can visually analyze their decisions and update their strategy.</li>
            </ul>
        </section>

        <!-- Game 2 -->
        <section>
            <h3>Micro Game 2: Equilibrium Explorer</h3>
            <h3>Objective</h3>
            <p>This game introduces players to the concepts of supply and demand, equilibrium, and market shocks. Through three challenging rounds, players will learn, apply, and compete in an interactive microeconomic environment.</p>
            <h3>Concepts Experienced:</h3>
            <ul>
                <li>Market Equilibrium: Learn the fundamental principles of equilibrium in the context of supply and demand, a cornerstone concept in microeconomics.</li>
                <li>Adapting to Market Shocks: Experience the impact of random shocks on the market and learn to predict new equilibrium quantities.</li>
                <li>Analyzing Multiple Shifts: Face the challenge of simultaneous shocks to both demand and supply, exploring how multiple factors can interact in a market.</li>
            </ul>
        </section>

        <!-- Game 3 -->
        <section>
            <h3>Micro Game 3: Market Taxonomy</h3>
            <h3>Objective</h3>
            <p>This game immerses players in the complexities of taxation and its effects on market equilibrium. Through two detailed rounds, players will learn to calculate consumer prices in response to different tax scenarios.</p>
            <h3>Concepts Experienced:</h3>
            <ul>
                <li>Market Equilibrium: Learn the foundational concepts of initial equilibrium price, quantity, supply curve, and elasticity of demand.</li>
                <li>Taxation and Price Adjustment: Learn how the market changes in response to a tax.</li>
                <li>Price Elasticity of Demand: See how a tax interacts with elasticity of demand to change the price that consumers pay in a market.</li>
            </ul>
        </section>

        <!-- Game 4 -->
        <section>
            <h3>Micro Game 4: Firm Reactor</h3>
            <h3>Objective</h3>
            <p>This game immerses players in the dynamics of a market moving toward long-run competitive equilibrium. Through calculation and price guessing, players must navigate changes in market conditions and keep their firm in the game by earning and maintaining tokens.</p>
            <h3>Concepts Experienced:</h3>
            <ul>
                <li>Profit Maximization: Learn to calculate the profit-maximizing quantity using market firm-level cost functions.</li>
                <li>Economic Profit and Market Entry Decisions: Calculate economic profit and make strategic choices about market entry.</li>
                <li>Price Adjustment and Equilibrium: Experience price adjustments as firms enter and leave the market amidst demand shocks.</li>
            </ul>
        </section>
    </main>

    <section>
    <h3>Macro Game 1: Economic Pathways</h3>
    <h3>Objective</h3>
    <p>In "Economic Pathways," you're tasked with making policy decisions to guide a country through four years filled with various global events. Your choices will determine the economic outcomes of the country, impacting GDP growth, the Consumer Price Index (CPI), and unemployment rates.</p>
    <h3>Concepts Experienced:</h3>
    <ul>
        <li>Global Event Influences: At the beginning of each year, a global event will be presented which has the potential to influence your country's economy.</li>
        <li>Policy Decision Making: Your job is to select a policy in response to the global event. The outcomes depend on your policy choice, the global event, and the type of country you're managing.</li>
        <li>Scoring System: Aim to maximize GDP growth, manage the CPI growth rate, and control unemployment rates. Bonus points and penalties apply based on your performance relative to target values.</li>
    </ul>
</section>
    <!-- Game 5 -->
<section>
    <h3>Macro Game 2: Balancing Act</h3>
    <h3>Objective</h3>
    <p>In "Balancing Act," players are put in charge of a country's macroeconomic policy. The goal is to juggle policy decisions regarding interest payments, public spending, and tax rates to optimize the country's economic indicators and satisfy citizens. Successful policy decisions will lead to the player's re-election at the end of each game year.</p>
    <h3>Concepts Experienced:</h3>
    <ul>
        <li>Macroeconomic Policy Making: Players make key decisions about interest payments, public spending, and setting tax rates, directly influencing the country's key economic indicators.</li>
        <li>Happiness Rate: This index reflects citizens' satisfaction with the player's management, affecting the chances of winning elections at the end of each round.</li>
        <li>Economic Indicator Impact: Choices have direct implications on GDP, CPI, and unemployment rates, influencing the Happiness Rate.</li>
    </ul>
</section>

<!-- Game 6 -->
<section>
    <h3>Macro Game 3: Investment Odyssey</h3>
    <h3>Objective</h3>
    <p>In "Investment Odyssey," players enter the intricate world of investments. Their mission is to strategically buy and sell assets like stocks, bonds, real estate, and even cryptocurrencies to maximize the value of their portfolio. Asset prices are influenced by macroeconomic indicators, historical trends, and unpredictable market events.</p>
    <h3>Concepts Experienced:</h3>
    <ul>
        <li>Asset Management: Players make choices about buying or selling a variety of assets, each with its own risk and reward profile.</li>
        <li>Market Dynamics: Asset prices fluctuate based on a multitude of factors, challenging players to adapt and make the most profitable decisions.</li>
        <li>Portfolio Valuation: Players' performance is gauged by the total value of their portfolio, encompassing both liquid cash and the market value of held assets.</li>
    </ul>
</section>

    <div style="display: flex; justify-content: center; align-items: center;">
    <button onclick="goBack()" class="blue-button">Go Back</button>
</div>

</div>  <!-- This closes your .container div -->
<script>
    function goBack() {
        window.history.back();
    }
</script>

</body>
</html>