<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Game Selection</title>
</head>
<body>
    <div class="title">
        Welcome, {{ username }}!
    </div>
    {% if not is_guest %}
        <h2 class="class-info">
            Class: {{ class_number }}
        </h2>
    {% endif %}
    <div class="game-categories">
    <div class="game-category" data-href="{{ url_for('main.microgames') }}">Microeconomic Games</div>
    <div class="game-category" data-href="{{ url_for('main.macrogames') }}">Macroeconomic Games</div>
</div>

    {% if is_guest %}
        <div class="login-link">
            <a href="/">Login</a>
        </div>
    {% else %}
        <div class="logout-link">
            <a href="/logout">Logout</a>
        </div>
    {% endif %}
<div class="links-container">
  <a href="{{ url_for('main.about_us_route') }}" class="about-link">About This<br>Site</a>
  <a href="{{ url_for('main.description_route') }}" class="description-link">Game<br>Descriptions</a>
</div>

</body>
<script>
    document.querySelectorAll('.game-category, .login-link a, .logout-link a').forEach(item => {
    item.addEventListener('click', event => {
        window.location.href = item.getAttribute('data-href') || item.getAttribute('href');
    });
});

</script>
</html>
