<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Virtual Econ</title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VLSGNRXRXM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-VLSGNRXRXM');
    </script>

</head>
<body>
    <div class="title">
        Virtual Econ
    </div>
    <div class="login-container">
        <h2>Login or Play as Guest</h2>
        <form action="/login" method="post">
            <div>
                <label for="student_id">Student ID:</label>
                <input type="text" id="student_id" name="student_id" required>
            </div>
            <div>
                <label for="class">Class Number:</label>
                <input type="number" id="class" name="class" required>
            </div>
            <input type="submit" value="Login">
        </form>
        <a href="/play_as_guest">Play as Guest</a>
        {% if error_message %}
            <div class="error-message">{{ error_message }}</div>
        {% endif %}
    </div>
    <div class="links-container">
        <a href="{{ url_for('main.about_us_route') }}" class="about-link">About This<br>Site</a>
        <a href="{{ url_for('main.description_route') }}" class="description-link">Game<br>Descriptions</a>
    </div>
</body>
</html>
