<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Game Selection</title>
</head>
<body>
    <div class="title">
        Microeconomics Games
    </div>
    <div class="simulations">
        <div class="simulation" data-href="{{ url_for('game1.home1') }}">The Rational Hunter</div>
        <div class="simulation" data-href="{{ url_for('game2.home2') }}">Equilibrium Explorer</div>
        <div class="simulation" data-href="{{ url_for('game3.home3') }}">Market Taxonomy</div>
        <div class="simulation" data-href="{{ url_for('game4.home4') }}">Firm Reactor</div>
    </div>
<div class="links-container">
  <a href="{{ url_for('main.about_us_route') }}" class="about-link">About This<br>Site</a>
  <div class="back-link">
    <a onclick="goBack()">Go Back</a>
  </div>
  <a href="{{ url_for('main.description_route') }}" class="description-link">Game<br>Descriptions</a>
</div>
</body>
<script>
    document.querySelectorAll('.simulation, .login-link a').forEach(item => {
    item.addEventListener('click', event => {
        window.location.href = item.getAttribute('data-href') || item.getAttribute('href');
    });
});

function goBack() {
    window.history.back();
}
</script>
</html>
