<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Virtual Econ - Choose Username</title>
</head>
<body>
    <div class="title">
        Virtual Econ
    </div>
    <div class="login-container">
        {% if existing_username %}
        <div class="keep-username">
            <a href="/keep_username">Keep Current Username: {{ existing_username }}</a>
        </div>
            <div class="or">
            OR
        </div>
        <form action="/username" method="post">
            <div>
                <label for="username">Change Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <input type="submit" value="Continue" class="login-button">
        </form>
    {% else %}
        <form action="/username" method="post">
            <div>
                <label for="username">Choose a Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <input type="submit" value="Continue" class="login-button">
        </form>
    {% endif %}
</div>

</body>
</html>
